<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="SoftLearn Education Template">
    <meta name="keywords" content="SoftLearn, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="img/favicon.ico" rel="shortcut icon" />
   
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    
    <link rel="stylesheet" href="../dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../dist/icon-fonts/material-design-icons/material-design-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet">
    <link rel="stylesheet" href="../dist/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../dist/css/owl.carousel.css" />
    <link rel="stylesheet" href="../dist/css/style.css" />

    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden;
            font-family: 'Roboto', sans-serif;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!-- footer section -->
    <footer class="footer-section fpad pb-0">
        <div class="footer-top">
            <div class="footer-warp">
                <div class="row">
                    <div class="widget-item">
                        <ul>
                            <li><a href="">SoftLearn for Schools</a></li>
                            <li><a href="">Teach on SoftLearn</a></li>
                            <li><a href="">Get the App</a></li>
                            <li><a href="">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="widget-item">
                        <ul>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Help and Support</a></li>
                            <li><a href="">Affiliate</a></li>
                        </ul>
                    </div>
                    <div class="widget-item">
                        <ul>
                            <li><a href="">Terms</a></li>
                            <li><a href="">Privacy Policy and Cookie Policy</a></li>
                            <li><a href="">Site Map</a></li>
                            <li><a href="">Featured Course</a></li>
                        </ul>
                    </div>
                    <div class="widget-item">
                        <h4>Newsletter</h4>
                        <form class="footer-newslatter">
                            <input type="email" placeholder="E-mail">
                            <button class="site-btn">Subscribe</button>
                            <p>*We don’t spam</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright footer-bottom">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div><img src="./img/logo.png" width="150px" alt=""></div>
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#"                                                                                                         target="_blank">Softworks Limited</a>

                </div>

            </div>
        </div>

    </footer>
    <!-- footer section end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="../dist/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/jquery.star-rating-svg.js"></script>
    <script src="../dist/js/bootstrap.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="../dist/js/circle-progress.min.js"></script>
    <script src="../dist/js/owl.carousel.min.js"></script>
    <script src="../dist/js/main.js"></script>
</body>
</html>
