<!DOCTYPE html>

<html>

    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Stylesheets -->
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/icon-fonts/material-design-icons/material-design-icons.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/css/owl.carousel.css" />
    <link rel="stylesheet" href="../assets/style/style.css" />


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div class="bg-dark border-right text-white" id="sidebar-wrapper">
            <div class="sidebar-heading text-dark mb-5">
                <button class="btn btn-dark ml-2 mt-3 d-md-none ml-md-auto menu-toggle"><i class="fas fa-angle-double-left"></i></button>
            </div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-book-open"></i></a>
                <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-edit" aria-hidden="true"></i></a>
                <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-folder-open"></i></a>
                <a href="#" class="list-group-item list-group-item-action bg-light"><span class="material-icons">message</span></a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom box-shadow">
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/logo.png" width="120" height="45" class="d-inline-block align-top" alt="">
                </a>

                <ul class="nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item mr-2">
                        <a class="nav-link nav-link-icons" href="#"><i class="fas fa-cog"></i></a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link nav-link-icons" href="#"><i class="fas fa-bell"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mt-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle avatar" src="../assets/img/authors/3.jpg" alt="avatar">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <h6 class="dropdown-header">Profile</h6>
                            <a class="dropdown-item dropdown-item-sl" href="#">Edit Profile</a>
                            <a class="dropdown-item dropdown-item-sl" href="#">Billing</a>
                            <a class="dropdown-item dropdown-item-sl" href="#">Payments</a>
                            <a class="dropdown-item dropdown-item-sl" href="#">Log Out</a>
                        </div>
                    </li>
                </ul>
                <button class="btn btn-light mt-2 d-md-none menu-toggle"><i class="fas fa-angle-double-right"></i></button>
            </nav>

            <main role="main" class="mt-5 pb-5">
                    @RenderBody()
            </main>


        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Modal -->
    <div class="modal fade" id="courseDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="courseDescriptionModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <img class="" src="../assets/img/courses/angularjs.jpg" />
                            </div>
                            <div class="col-lg-9 pt-4">
                                <h2 class="c-h3">UI Design with Adobe XD</h2>
                                <p>by Stephen Oloto</p>
                            </div>
                        </div>
                        <div>
                            <p>Learn the fundamentals of Adobe XD and how to create basic prototypes.</p>
                        </div>
                        <div>
                            <p class="mb-0 mt-0"><i class="fas fa-check"></i> &nbsp; Fundamentals of working with Angular</p>
                            <p class="mb-0 mt-0"><i class="fas fa-check"></i> &nbsp; Create complete Angular Applications</p>
                            <p class="mb-0 mt-0"><i class="fas fa-check"></i> &nbsp; Working with Angular CLI.</p>
                            <p class="mb-0 mt-0"><i class="fas fa-check"></i> &nbsp; Understanding Dependency Injection</p>
                            <p class="mb-0 mt-0"><i class="fas fa-check"></i> &nbsp; Testing with Angular</p>
                        </div>
                        <div class="row mt-3 mb-4">
                            <div class="col-lg-6">
                                <div>
                                    <p class="mb-0"><i class="fas fa-clock"></i> &nbsp; 6 Hours</p>
                                    <p class="mb-0"><i class="fas fa-play-circle"></i> &nbsp; 12 Lessons</p>
                                    <p class="mb-0"><i class="fas fa-chart-bar"></i> &nbsp; Beginner</p>
                                </div>
                            </div>
                            <div class="col-lg-6 pt-5">
                                <button class="btn btn-sl-green float-right">Edit Course</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/mixitup.min.js"></script>
    <script src="../assets/js/circle-progress.min.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/main.js"></script>

</body>
</html>
