@model NewSoftlearn.Models.CourseAddVideoContent


@{ 
    Layout = "_DashboardLayout";
}

<div class="container">
    <h1 class="c-h1">Add Course Topic</h1>
    <div class="row mt-4">
        <div class="col-md-8 col-lg-8 mb-3">
            <form method="post" enctype="multipart/form-data">
                @if (ViewBag.Message != null)
                {
                    <div class="alert @TempData["alert"] alert-dismissible">
                        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@ViewBag.Message</strong>
                    </div>
                }
                <div class="form-group">
                    <div class="col-lg-6">
                        <input asp-for="CourseId" value="@ViewData["courseid"]" type="hidden" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input asp-for="CourseTopicId" value="@ViewData["coursetopicid"]" type="hidden" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <label for="description">Upload Course Video</label>
                        <input asp type="file" name="materialFile" class="form-control" />
                    </div>
                </div>
                <button class="btn btn-dark">Add Course Topic Material</button>
            </form>
        </div>
    </div>
</div>