
@model SoftLearnFrontEnd.RequestModels.FacilitatorRegRequestModel

@{
    Layout = "_FacilitatorLayout";
}

<div class="form-body">
    
    <div class="row">
        <div class="col-md-8">
            <div class="img-holder">
                <!-- <div class="bg"></div> -->
                <div class="info-holder">
                    <h2>Join over 5 million SoftLearn students' and teachers around the world</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 form-holder">
            <!-- <div class="form-holder"> -->
            <div class="form-content">
                <div class="form-items">
                    <div class="page-links">
                        <a href="#" class="active">Sign Up</a>
                    </div>
                    <form method="post">
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert @TempData["alert"] alert-dismissible">
                                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>@ViewBag.Message</strong>
                            </div>
                        }
                        @*<div asp-validation-summary="All" class="text-danger"></div>*@

                        <span asp-validation-for="FirstName" class="text-danger"></span>
                        <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name" />

                        <span asp-validation-for="LastName" class="text-danger"></span>
                        <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name" />

                        <span asp-validation-for="UserName" class="text-danger"></span>
                        <input asp-for="UserName" type="text" class="form-control" placeholder="Username" />

                        <span asp-validation-for="Email" class="text-danger"></span>
                        <input asp-for="Email" type="email" class="form-control" placeholder="Email" />

                        <span asp-validation-for="Password" class="text-danger"></span>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" />

                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />

                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="Phone Number" />

                        <div class="form-button">
                            <button id="submit" type="submit" class="ibtn">Register</button> <a href="#">Forgot password?</a>
                        </div>
                    </form>
                    <div class="other-links">
                        <span>Have an Account already?</span><a asp-controller="Facilitator" asp-action="Login">Login</a>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>
