@{
    Layout = "_DashboardLayout";
}

<div class="container">
    <div class="create-section spad">
        <div class="row">

            <div class="col-md-12">
                <div class="card mb-20 shadow">
                    <div class="card-body-create">
                        <!-- <div class="col-auto">
                          <i class="fa fa-clipboard-list fa-2x text-gray-300"></i>
                        </div> -->
                        <div class="col">
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-5 font-weight-bold text-gray-800"><img src="../dist2/img/todo-list@2x.png" width="70px"></div>
                                </div>
                                <div class="col-md-8">
                                    <div class="h2 mb-0 mr-3 font-weight-condensed">Start Creating Courses</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="text-right pt-2">
                                        <a asp-controller="Facilitator" asp-action="AddCourse" class="site-btn">Create your Course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="subscription-section bpad">
        <div class="row">
            <div class="col-12">
                <div class="subscription-section-title text-center">
                    <p>Based on your subscription, these are the resources available for your use.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-5 mb-20 shadow">
                    <div class="card-body p-0">
                        <!-- <div class="col-auto">
                          <i class="fa fa-clipboard-list fa-2x text-gray-300"></i>
                        </div> -->
                        <div class="col p-0">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-4 p-0">
                                    <div class="create-icons b-radius">
                                        <img src="../dist2/img/458100-PFPPLU-819@2x.png">
                                    </div>

                                </div>

                                <div class="col-md-8 lpad">
                                    <div class="h3 mb-5 font-weight-bold">Create a Captivating Course</div>
                                    <div class="sub-text">Whether you've been teaching for years or are teaching for the first time, you can make an engaging course. We've compiled resources and best practices to help you get to the next level, no matter where you're starting.</div>
                                    <div class="mt-5"><a href="teachers-session.html" class="site-btn">Get started</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-11">
                <div class="card">
                    <div class="card-body py-5">
                        <div class="row">
                            <div class="col-1">
                                <i class="fa fa-clipboard-list fa-3x text-sl-green"></i>
                            </div>
                            <div class="col-7">
                                <h1 class="c-h2">Create A New Course</h1>
                            </div>
                            <div class="col-4">
                                <a class="btn btn-sl-green float-right" asp-controller="Facilitator" asp-action="ViewCourse">View Courses</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@