@{ 
    Layout = "_TeacherLayout";
}

<div class="container">
    <div class="d-flex">
        <h1 class="c-h1">Courses</h1>
        <a class="btn btn-light ml-auto" asp-controller="Facilitator" asp-action="AddCourse" >New Course <i class="fas fa-plus"></i></a>
    </div>
    <div class="row mt-5">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <figure>
                    <img class="card-img-top" src="../assets/img/courses/angularjs.jpg" alt="Angular">
                    <figcaption class="project-description-overlay">
                        <a href="#" role="button" class="text-white" data-toggle="modal" data-target="#courseDescriptionModal"><i class="fas fa-pencil-alt"></i> &nbsp;Edit</a>
                    </figcaption>
                </figure>
                <div class="card-body card-body-courses">
                    <div class="d-flex">
                        <p>Angular JS</p>
                        <p class="ml-auto"><i class="fas fa-pencil-alt"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
                <figure>
                    <img class="card-img-top" src="../assets/img/courses/photoshop.jpg" alt="Photoshop">
                    <figcaption class="project-description-overlay">
                        <a href="#" role="button" class="text-white" data-toggle="modal" data-target="#courseDescriptionModal"><i class="fas fa-pencil-alt"></i> &nbsp;Edit</a>
                    </figcaption>
                </figure>
                <div class="card-body card-body-courses">
                    <div class="d-flex">
                        <p>Photoshop</p>
                        <p class="ml-auto"><i class="fas fa-pencil-alt"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
                <figure>
                    <img class="card-img-top" src="../assets/img/courses/reactjs.jpg" alt="React JS">
                    <figcaption class="project-description-overlay">
                        <a href="#" role="button" class="text-white" data-toggle="modal" data-target="#courseDescriptionModal"><i class="fas fa-pencil-alt"></i> &nbsp;Edit</a>
                    </figcaption>
                </figure>
                <div class="card-body card-body-courses">
                    <div class="d-flex">
                        <p>React JS</p>
                        <p class="ml-auto"><i class="fas fa-pencil-alt"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
                <figure>
                    <img class="card-img-top" src="../assets/img/courses/webdesign.jpg" alt="Web Design">
                    <figcaption class="project-description-overlay">
                        <a href="#" role="button" class="text-white" data-toggle="modal" data-target="#courseDescriptionModal"><i class="fas fa-pencil-alt"></i> &nbsp;Edit</a>
                    </figcaption>
                </figure>
                <div class="card-body card-body-courses">
                    <div class="d-flex">
                        <p>Web Design</p>
                        <p class="ml-auto"><i class="fas fa-pencil-alt"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
                <figure>
                    <img class="card-img-top" src="../assets/img/courses/wordpress.jpg" alt="Wordpress">
                    <figcaption class="project-description-overlay">
                        <a href="#" role="button" class="text-white" data-toggle="modal" data-target="#courseDescriptionModal"><i class="fas fa-pencil-alt"></i> &nbsp;Edit</a>
                    </figcaption>
                </figure>
                <div class="card-body card-body-courses">
                    <div class="d-flex">
                        <p>Wordpress</p>
                        <p class="ml-auto"><i class="fas fa-pencil-alt"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
                <figure>
                    <img class="card-img-top" src="../assets/img/courses/javascript.jpg" alt="JavaScript">
                    <figcaption class="project-description-overlay">
                        <a href="#" role="button" class="text-white" data-toggle="modal" data-target="#courseDescriptionModal"><i class="fas fa-pencil-alt"></i> &nbsp;Edit</a>
                    </figcaption>
                </figure>
                <div class="card-body card-body-courses">
                    <div class="d-flex">
                        <p>JavaScript</p>
                        <p class="ml-auto"><i class="fas fa-pencil-alt"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>