


@{
    ViewData["Title"] = "School Types";
}

@using SoftLearnFrontEnd.ResponseModels;

@model SchoolTypes


<h2>All School Types From Softlearn API</h2>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model.Data)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.SchoolTypeName</td>

            </tr>
        }
    </tbody>
</table>