@model SoftLearnFrontEnd.RequestModels.AccountActivationRequestModel

@{ 
    Layout = "_FacActivateLayout";
}

<!--<div class="form-body">

    <div class="row">
        <div class="col-md-8">
            <div class="img-holder">
                <!-- <div class="bg"></div> -->
                <!--<div class="info-holder">
                    <h2>Thank you for Registering. Kindly confirm your account with the code sent to your Email.</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 form-holder">-->
            <!-- <div class="form-holder"> -->
            <!--<div class="form-content">
                <div class="form-items">
                    <div class="page-links">
                        <a href="#" class="active">Activate Account</a>
                    </div>
                    <form method="post">
                        if (ViewBag.Message != null)
                        {
                            <div class="alert TempData["alert"] alert-dismissible">
                                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>ViewBag.Message</strong>
                            </div>
                        }
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <input asp-for="Email" value="ViewData["UserEmail"]" type="email" class="form-control" placeholder="Email" />

                        <span asp-validation-for="Code" class="text-danger"></span>
                        <input asp-for="Code" type="text" class="form-control" placeholder="Code" />

                        <div class="form-button">
                            <button id="submit" type="submit" class="ibtn">Submit</button>--> @*<a href="forget15.html">Forgot password?</a>*@
                        @*</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>-->*@
<div class="form-body success-page">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-5 mt-5">Thank you for Registering !!!</h2>
            <div class="card success-card shadow">
                <div style="border-radius:200px; height:100px; width:100px; background: #F8FAF5; margin:0 auto;">
                    <img src="~/dist2/img/Group 15946@2x.png" />
                    <!-- <i class="checkmark">✓</i> -->
                </div>
                <div class="card-body">
                    <h1>Email Confirmation</h1>
                    <p>We have sent a code to <span style="font-size:20px;color:#006666;">@ViewData["UserEmail"].ToString();</p>
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert @TempData["alert"] alert-dismissible">
                            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>@ViewBag.Message</strong>
                        </div>
                    }
                    <p>Please Enter the code sent to you</p>
                    <h6></h6>
                    <form method="post" class="success-input">

                        <span asp-validation-for="Code" class="text-danger"></span>
                        <input asp-for="Code" type="text" class="form-control side-space" placeholder="" />

                        @*<input class="form-control side-space" asp-for="Code" type="text" name="confirmation-code" placeholder="" required>*@

                        <div class="success-divider"></div>

                        <div class="form-button mt-2">
                            <a style="color:#006666;" href="#">resend code</a>
                            <button id="submit" type="submit" class="btn btn-danger ibtn">Continue</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>